<script>
    function searchOpen(field) {
        var search = $('#id_' + field).val()
        var data = {
            search: search,
            field: field
        };
        $.ajax({
            url: '/search.json',
            data: data,
        }).done(function (data) {
            searchResult(data, field);
        });
    }


    function searchResult(data, field) {
        $('#id_' + field).autocomplete({
            source: data
        });
    }

    $("#id_query").geocomplete();

    function displayMap() {
        document.getElementById('map-canvas').style.display = "block";
        initialize();
    }

    function getContent(title, year, fun_facts){
       return '<div id="content"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">' + title +
              '</h1><div id="bodyContent">'+
              '<p><b>Year:</b>'+ year +
		      '<p><b>Fun facts:</b>'+ fun_facts +   
			  '</div></div>';
    }

    function addMarker(map, name, latlng){
        var infoWin = new google.maps.InfoWindow({content: name});
        var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            title: name
         });
        google.maps.event.addListener(marker, 'click', function(){
           infoWin.open(map, marker);
        });
    }

    function initialize() {
        // create the map

        var myOptions = {
            zoom: 13,
            center: new google.maps.LatLng(37.76893497, -122.42284884),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map-canvas"),
                                    myOptions);
        
        var position;
        {% for location in locations %}
           position = new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }})
           content = getContent("{{location.title}}", "{{location.release_year}}", "{{location.fun_facts}}")
           addMarker(map, content, position)

           map.center = position
        {% endfor %}     
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    displayMap();
</script>