{% extends "app/layout.html" %}

{% block content %}

<style>
#id_query {
    width: 100%;
}
#map-canvas { width: 100%; height: 50%; padding: 0; }

label {
    width: 150pt;
}
</style>

<form action="" method="post">
    {% csrf_token %}
    <ul>
        <li>
            <label for="query">Address: </label>
            {{ form.query }}
            <label for="distance">Max distance: </label>
            {{ form.distance }}
        </li>
        <li>
            <label for="title">Title: </label>
            {{ form.title }}
        </li>
        <li>
            <label for="year">Release year: </label>
            {{ form.year }}
        </li>
        <li>
            <label for="production_company">Production Company: </label>
            {{ form.production_company }}
        </li>
        <li>
            <label for="distributor">Distributor: </label>
            {{ form.distributor }}
        </li>
        <li>
            <label for="director">Director: </label>
            {{ form.director }}
        </li>
        <li>
            <label for="writer">Writer: </label>
            {{ form.writer }}
        </li>
        <li>
            <label for="actor">Actor: </label>
            {{ form.actor }}
        </li>
        <input type="submit" value="Search">
    </ul>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div id="map-canvas">
    <!-- map loads here... -->
</div>

{% include "app/search_scripts.html" %}

{% endblock %}