{% extends "app/layout.html" %}

{% block content %}

<style>
#id_query {
    width: 100%;
}
#map-canvas { width: 100%; height: 50%; padding: 0; }
</style>

<form action="" method="post">
    {% csrf_token %}
    <label for="query">Address: </label>
    {{ form.query }}
    <label for="distance">Max distance: </label>
    {{ form.distance }}
    <label for="title">Title: </label>
    {{ form.title }}
    <label for="year">Release year: </label>
    {{ form.year }}
    <label for="production_company">Production Company: </label>
    {{ form.production_company }}
    <label for="distributor">Distributor: </label>
    {{ form.distributor }}
    <label for="director">Director: </label>
    {{ form.director }}
    <label for="writer">Writer: </label>
    {{ form.writer }}
    <br>
    <label for="actor">Actor: </label>
    {{ form.actor }}
    <input type="submit" value="Search">
</form>

{% for location in locations %}
  <p>{{ location }}</p>
{% endfor %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div id="map-canvas">
    <!-- map loads here... -->
</div>

{% include "app/search_scripts.html" %}

{% endblock %}