{% extends "app/layout.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <label for="query">Address: </label>
    {{ form.query }}
    <input type="submit" value="Search">
</form>

{% for location in locations %}
  <p>{{ location }}</p>
{% endfor %}

<script>

function searchOpen() {
    var search = $('#id_query').val()
    var data = {
        search: search
    };
    $.ajax({
        url: '/search.json',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
    });
}


function searchResult(data) {
    $("#id_query").autocomplete({
        source: data
    });
}

searchOpen();

</script>

{% endblock %}